<h2 style="background-color:#000000;color:#808080">
<center><div class="header">
  <a target="_blank" href="img_forest.jpg"><br> 
    <img src="https://indigothemes.com/wp-content/uploads/logo3.png" alt="Forest" width="300" height="50"></a> 
</center>
</h2><br>
<center><h1>Log In</h1>
<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %><br>
  Password: <%= password_field_tag :password %><br>
  <%= submit_tag "Submit" %>

<% end %></center>

<div class="header">
  <a target="_blank" href="img_forest.jpg">
    <img src="http://media.istockphoto.com/photos/group-of-pets-together-isolated-on-white-picture-id167600936?k=6&m=167600936&s=612x612&w=0&h=zWSvsLB_pOCX61NMdOE7af0Tu6ObwUmK842BX6rXEss=" alt="Forest" width="550" height="250">
  </a>
  <style> 