<h2 style="background-color:#808080;color:white">
<center>Pet Shop Inventory System</center>
</h2>

<h3>Edit Profile</h3>

<%= render 'form', animal: @animal %> 
<button><%= link_to 'Back', animals_path %></button>
